<div id="content-page-banner">
    <div class="overlay"></div>
</div>

<header>
    <div class="container">
        <nav>
            <a href="https://ctcue.com" class="logo">
                <img src="{{asset "/img/ctcue-logo.png"}}" alt="CTcue">
                <p>CTcue</p>
            </a>

            <ul>
                <li>
                    <a href="https://ctcue.com/about-us">About us</a>
                </li>
                <li>
                    <a href="https://ctcue.com/jobs">Jobs</a>
                </li>
                <li>
                    <a href="https://blog.ctcue.com" class="active">Blog</a>
                </li>
                <li>
                    <a href="https://ctcue.com/contact">Get in touch</a>
                </li>
            </ul>

            <div class="mobile-nav-button">
              <button class="lines-button arrow arrow-left" type="button" role="button" aria-label="Toggle Navigation">
                <span class="lines"></span>
              </button>
            </div>
        </nav>

        <nav id="mobile-nav">
            <a href="https://ctcue.com/about-us">About us</a>
            <a href="https://ctcue.com/jobs">Jobs</a>
            <a href="https://blog.ctcue.com">Blog</a>
            <a href="https://ctcue.com/contact">Get in touch</a>
        </nav>
    </div>
</header>